EXPRESS_PORT=5001

BTC_INDEXER_TYPE="nkt"
#BTC_INDEXER_TYPE="insight"
#BTC_INDEXER_URL="https://insight.bitpay.com/api"
BTC_INDEXER_URL="http://gethfull:8080/api"
BTC_INDEXER_WS_URL="https://insight.bitpay.com"

BTC_NODE_HOST="gethfull"
BTC_NODE_PORT="18332"
BTC_NODE_USER="xxxxxxxxxx"
BTC_NODE_PASS="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
BTC_NODE_NETWORK="mainnet"




ETH_INDEXER_TYPE="nkt"
#ETH_INDEXER_TYPE="etherscan"
#ETH_INDEXER_URL="http://10.10.0.21:4000"
ETH_INDEXER_URL="http://gethfull:8081/api"
ETH_INDEXER_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

ETH_NODE_TYPE="node"
ETH_NODE_URL="http://gethfull:8545"
ETH_NODE_WS_URL="http://gethfull:8545"
#ETH_NODE_TYPE="infura"
#ETH_NODE_URL="https://ropsten.infura.io/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#ETH_NODE_WS_API_URL="wss://ropsten.infura.io/ws/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"




BTC_TESTNET_INDEXER_TYPE="nkt"
BTC_TESTNET_INDEXER_URL="http://gethfull:8082/api"
BTC_TESTNET_INDEXER_WS_URL="https://test-insight.bitpay.com"
#BTC_TESTNET_INDEXER_TYPE="insight"
#BTC_TESTNET_INDEXER_URL="https://test-insight.bitpay.com/api"

BTC_TESTNET_NODE_HOST="gethfull"
BTC_TESTNET_NODE_PORT="18332"
BTC_TESTNET_NODE_USER="xxxxxxxxxx"
BTC_TESTNET_NODE_PASS="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
BTC_TESTNET_NODE_NETWORK="testnet"





ROPSTEN_NODE_TYPE="node"
ROPSTEN_NODE_URL="http://gethfull:18545"
ROPSTEN_NODE_WS_URL="http://gethfull:18545"

ROPSTEN_INDEXER_TYPE="nkt"
#ROPSTEN_INDEXER_URL="http://10.10.0.21:4000"
ROPSTEN_INDEXER_URL="http://gethfull:8083/api"
ROPSTEN_INFURA_API_URL="https://ropsten.infura.io/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ROPSTEN_INFURA_WS_API_URL="wss://ropsten.infura.io/ws/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ROPSTEN_INDEXER_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"



CHANGELY_URL="https://api.changelly.com"
CHANGELY_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CHANGELY_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
BITFINEX_URL="https://api.bitfinex.com"
#BITSTAMP_URL="https://www.bitstamp.net/api/v2/ticker/btcusd"
#MOCK_APP="true"
#NOISY_APP="true"


#COINMARKETCAP_URL="https://sandbox-api.coinmarketcap.com/v1"
#COINMARKETCAP_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
COINMARKETCAP_URL="https://pro-api.coinmarketcap.com/v1"
COINMARKETCAP_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"



# Tokens
RIF_TOKEN_ADDRESS="0x2acc95758f8b5f583470ba265eb685a8f45fc9d5"
RIF_TESTNET_TOKEN_ADDRESS="0xd8c5adcac8d465c5a2d0772b86788e014ddec516"
DAI_TOKEN_ADDRESS="0x89d24A6b4CcB1B6fAA2625fE562bDD9a23260359"
DAI_ROPSTEN_TOKEN_ADDRESS="0xb6444ec2b1689a36B58f5D9a824fFDC2D1b7F72d"



# Name resolution 

ETH_NS_ADDRESS="0x314159265dD8dbb310642f98f50C066173C1259b"
ETH_NS_PUB_RESOLVER="0xd3ddccdd3b25a8a7423b5bee360a42146eb4baf3"

RSK_NS_ADDRESS="0xcb868aeabd31e2b66f74e9a55cf064abb31a4ad5"
RSK_NS_PUB_RESOLVER="0x4efd25e3d348f8f25a14fb7655fba6f72edfe93a"

RSK_TESTNET_NS_ADDRESS="0x83355fcb41acbe3919e4ff73ecffc07a3147b7e8"
RSK_TESTNET_NS_PUB_RESOLVER="0xf1143e2797bef4f8bd6059605e8134686efaa355"

#ROPSTEN_NS_ADDRESS=""
#ROPSTEN_PUB_RESOLVER=""

